openapi: 3.0.0
info:
  title: Certificates Endpoint
  version: '1.0'
servers:
  - url: 'https://burgerprofiel.vlaanderen.be/v1'
    description: Burgerprofiel
paths:
  /certificates:
    parameters: []
    get:
      summary: Your GET endpoint
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  certificates:
                    type: array
                    items:
                      $ref: ./models/item-certificate.v1.yaml
                  links:
                    $ref: ../common/models/List/list-linksforlist.v1.yaml
                  pageMetaData:
                    $ref: ../common/models/List/list-pagemetadata.v1.yaml
                required:
                  - certificates
                  - links
                  - pageMetaData
              examples: {}
      description: ''
      requestBody: {}
  '/certificates/{certificateId}':
    parameters:
      - type: string
        name: certificateId
        in: path
        required: true
        schema:
          type: string
        description: ID of the certificate
    get:
      summary: Get Certificate Details
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: ./models/item-certificate.v1.yaml
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
components:
  schemas: {}
  securitySchemes:
    API Key - 1:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: ''
          refreshUrl: ''
          scopes: []
